GROQ_API_KEY="xxxx"
GROQ_MODEL=llama-3.3-70b-versatile

SARVAM_API_KEY="xxx"
SARVAM_STT_MODEL=saarika:v2.5
SARVAM_TTS_MODEL=bulbul:v2
SARVAM_TTS_SPEAKER=anushka
SARVAM_TTS_LANGUAGE=en-IN


PINECONE_API_KEY="xx"
PINECONE_INDEX=medichatbot

HF_TOKEN="xxxxxx"
